body{
    background-color: #2A2A2A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorBody{
    width: 300px;
    height: 450px;
    background-color: #3F3F3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.container{
    margin: 8px;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
    height: 64px;
    background-color: #3E3E3E;
    margin: 4px;
}

.btnBase{
    width: 64px;
    height: 64px;
    background-color: #D9D9D9;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.btnHover:hover{
    background-color: #c1c1c1;
}

.btnSpecial:hover{
    background-color: #6f6f6f;

}

.btnACHover:hover{
    background-color: #da6868;
}

.greyBtn{
    background-color: #919191;
}

.redBtn{
    background-color: #FF7E7E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEqual{
    width: 208px;
    height: 64px;
    background-color: #FFDB7E;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.btnEqualHover:hover{
    background-color: #dcbc6c;
}

.rows{
    display: flex;
    justify-content: space-evenly;
}

.roundedCorner{
    border-radius: 20px;
}

.dropShadow{
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}

.innerShadow{
    box-shadow: inset rgb(0, 0, 0) 0px 0px 30px -12px; 
}

.font{
    font-family: 'Roboto';
    font-size: 40px;
    color: #3E3E3E;
    pointer-events: none;
}

.displayText{
    color: #FFFFFF;
    margin-right: 10px;
}
